<!DOCTYPE>
<html>
	<head>
		<title>Ruby on Rails Tutorial Sample App | Home</title>
	</head>
	<body>
		<h1>Home</h1>
		<p>
			Contact Ruby on Rails Tutorial about the sample app at the <a href='http://railstutorial.org/home'>home page</a>
		</p>		
	</body>
</html>
